* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
   }

body{
    display: flex;
    flex-direction: column;
}
.container ul{
    list-style-type: none;
}

.container a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo{
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 20px;
    margin: 20px;
}

.header-list{
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    color: #e5e7eb;
    padding: 20px;
    margin-right: 50px;
}

/* Header website is awesome section*/
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #1F2937;
    gap: 500px;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
   
}

.header-container h1{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.header-container p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-container img{
    max-width: 400px;
    margin-right: 50px;
}

button{
    background: royalblue;
    border: 1px solid royalblue;
    border-radius: 25px;
    color: white;
    height: auto;
    width: 90px;
    margin-top: 10px;
}

/* Image section*/
.img-container{
    display: flex;
    margin-bottom: 32px;
    flex-wrap: row wrap;
    padding: 50px 70px;
    gap: 5px;
}

.img-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-info img{
    max-width: 100px;
    height: 100px;
    border-radius: 25px;
}

.text{
    font-family: sans-serif;
    text-align: center;
}

.title-info{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    padding-top: 20px;
}

/* quote css*/
.quote-container{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
    padding: 30px 150px;
}

.quote-container p{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;

}


/* call to action section*/
.box-container{
    display: flex;
    justify-content: center;
}

.action-container{
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    margin: 70px;
    padding: 50px;
    width: 800px;
    gap: 150px;
    color: white;
    font-size: 20px;
}

.action-signtext{
    color:#e5e7eb;
    font-size: 15px;
}

.signup-button{
    border-color: white;
}





/*Footer section*/
.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}